<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ISBN</key>
	<string>null</string>
	<key>Index</key>
	<array>
		<dict>
			<key>PageNum</key>
			<string>1</string>
			<key>Title</key>
			<string>封面</string>
		</dict>
		<dict>
			<key>PageNum</key>
			<string>2</string>
			<key>Title</key>
			<string>目錄</string>
		</dict>
		<dict>
			<key>PageNum</key>
			<string>3</string>
			<key>Title</key>
			<string>下載：千本圖書‧快速傳遞</string>
		</dict>
		<dict>
			<key>PageNum</key>
			<string>4</string>
			<key>Title</key>
			<string>下載：下載安裝‧瞬間完成</string>
		</dict>
		<dict>
			<key>PageNum</key>
			<string>5</string>
			<key>Title</key>
			<string>下載：贖回光陰‧陸續盡讀</string>
		</dict>
		<dict>
			<key>PageNum</key>
			<string>6</string>
			<key>Title</key>
			<string>閱讀：書櫃支援管理功能</string>
		</dict>
		<dict>
			<key>PageNum</key>
			<string>7</string>
			<key>Title</key>
			<string>閱讀：左右滑動‧輕鬆翻頁</string>
		</dict>
		<dict>
			<key>PageNum</key>
			<string>8</string>
			<key>Title</key>
			<string>閱讀：直看橫看‧隨心所欲</string>
		</dict>
		<dict>
			<key>PageNum</key>
			<string>9</string>
			<key>Title</key>
			<string>閱讀：PDF電子書閱讀功能</string>
		</dict>
		<dict>
			<key>PageNum</key>
			<string>10</string>
			<key>Title</key>
			<string>繁簡中文‧數位呈現</string>
		</dict>
	</array>
	<key>author</key>
	<string>TWGBR</string>
	<key>bookName</key>
	<string>操作指引</string>
	<key>bookName_c</key>
	<string>操作指引</string>
	<key>bookNumber</key>
	<string>8887</string>
	<key>bookCategory</key>
	<string>9</string>
	<key>bookType</key>
	<string>1</string>
	<key>canCopy</key>
	<false/>
	<key>canMail</key>
	<false/>
	<key>canPrint</key>
	<false/>
	<key>canShare</key>
	<false/>
	<key>canTTS</key>
	<true/>
	<key>canTranslate</key>
	<true/>
	<key>catalogue</key>
	<string>null</string>
	<key>countOfChapter</key>
	<string>0</string>
	<key>function0</key>
	<string></string>
	<key>function1</key>
	<string></string>
	<key>function2</key>
	<string></string>
	<key>function3</key>
	<string></string>
	<key>function4</key>
	<string></string>
	<key>function5</key>
	<string></string>
	<key>function6</key>
	<string></string>
	<key>function7</key>
	<string></string>
	<key>function8</key>
	<string></string>
	<key>function9</key>
	<string></string>
	<key>hasVoice</key>
	<false/>
	<key>lastOrientation</key>
	<string>0</string>
	<key>lastPageNum</key>
	<string>0</string>
	<key>lastPagePercent</key>
	<string>0</string>
	<key>option0</key>
	<string></string>
	<key>option1</key>
	<string></string>
	<key>option2</key>
	<string></string>
	<key>option3</key>
	<string></string>
	<key>option4</key>
	<string></string>
	<key>option5</key>
	<string></string>
	<key>option6</key>
	<string></string>
	<key>option7</key>
	<string></string>
	<key>option8</key>
	<string></string>
	<key>option9</key>
	<string></string>
	<key>pdfDirection</key>
	<string>0</string>
	<key>pdfHeight</key>
	<string>2835</string>
	<key>pdfWidth</key>
	<string>2001</string>
	<key>publisher</key>
	<string>TWGBR</string>
	<key>section</key>
	<string>1</string>
	<key>voiceFile</key>
	<string></string>
	<key>voiceType</key>
	<string></string>
</dict>
</plist>
